autograd==1.3
controller-manager==0.18.0
controller-manager-msgs==0.18.0
cv-bridge==1.13.0
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
matplotlib==2.1.1
moveit-commander==1.0.2
moveit-ros-planning-interface==1.0.2
moveit-ros-visualization==1.0.2
pickleshare==0.7.5
PS4Joystick==2.0
rosbag==1.14.5
rosboost-cfg==1.14.8
rosclean==1.14.8
roscreate==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmake==1.14.8
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospy==1.14.5
rosserial-python==0.8.0
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-joint-trajectory-controller==0.16.0
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.9
scipy==1.4.1
Sphinx==1.6.7
ssh-import-id==5.7
systemd-python==234
terminado==0.8.3
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
torch==1.4.0
transforms3d==0.3.1
xacro==1.13.5
