<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mini_ros)/config/control.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/spot" args="joint_group_position_controller joint_states_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/spot/joint_states" />
  </node>

</launch>