<launch>
<!-- Sensor Calibration Node -->
<node name="servo_calibration" pkg="mini_ros" type="servo_calibration" output="screen"/>

<!-- Sensor Interface Node -->
<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyS0"/> <!-- HW Serial -->
    <param name="baud" value="500000"/>  <!-- must match Teensy -->
  </node>

</launch>